<launch>
  <arg name="use_fake_localization" default="false" />
  <include file="$(find fetch_navigation)/launch/fetch_nav.launch" >
    <arg name="map_file" value="$(find fetch_gazebo_demo)/maps/test_zone.yaml" />
    <arg name="use_fake_localization" value="$(arg use_fake_localization)" />
  </include>

</launch>
