<?xml version="1.0"?>
<launch>
  <!-- Start navigation -->
  <arg name="use_fake_localization" default="false" />
  <include file="$(find fetch_gazebo_demo)/launch/fetch_nav.launch" >
    <arg name="use_fake_localization" value="$(arg use_fake_localization)" />
  </include>

  <!-- Start MoveIt -->
  <include file="$(find fetch_moveit_config)/launch/move_group.launch" >
    <arg name="info" value="true"/><!-- publish grasp markers -->
  </include>

  <!-- Start Perception -->
  <node name="basic_grasping_perception" pkg="simple_grasping" type="basic_grasping_perception" >
    <rosparam command="load" file="$(find fetch_gazebo_demo)/config/simple_grasping.yaml" />
  </node>

  <!-- Drive to the table, pick stuff up -->
  <node name="nav_test" pkg="fetch_gazebo_demo" type="nav_test.py" output="screen" />

</launch>
